.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    width: 90%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.cart-container{
    border-left: 2px solid rgba(0, 0, 0, 0.124);
}
.cart-content{
    
    position: sticky;
    top: 0;
    overflow-y: scroll;
}
.cart-content:hover{
    height: 100vh;
    overflow-y: scroll;

}
.cart-container h4{
    text-align: center;
}


@media screen and (max-width:950px) {
    .shop-container{
        grid-template-columns: 3fr 1fr;
    }.product-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:550px) {
    .shop-container{
        grid-template-columns: 2fr 1fr;
    }.product-container{
        grid-template-columns: 1fr;
    }
}